* {
  margin: 0;
  padding: 0;
}
.cursor-pointer {
  cursor: pointer;
  text-decoration: none;
}
body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(4, 4, 50);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(153, 153, 226);
  font-size: 1.03rem;
}

.left {
  display: flex;
  justify-content: center;
  width: 27%;
  font-size: 1.5rem;
}
.right {
  width: 72%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.leftSection {
  font-size: 3em;
  padding: 0 0 0 22px;
  margin: 50px;
  margin-bottom: 0;
  width: 60%;
}
.and {
  padding: 10px 0;
}

.rightSection {
  width: 40%;
}

.rightSection img {
  padding: 20px;
  width: 48%;
}

.purple {
  color: rgb(62 41 135);
}

#element {
  color: rgb(62 41 135);
}

.ready {
  width: 30%;
  color: #2856bbff;
  font-weight: bold;
  margin: 30px 85px;
}

.btn {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  margin: 50px 0;
}
.btnall a {
  text-decoration: none;
}
.btnall {
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(0 0 52);
  color: rgba(197, 196, 196, 1);
  margin-right: 15px;
  padding: 13px;
  border-radius: 10px;
}
.btn2 {
  background-color: rgb(179, 187, 190);
  color: #272733ff;
  font-weight: bold;
}
footer hr {
  border: 0;
  background: #322ad3ff;
  height: 0.1px;
  margin: 40px 0px;
}
.footer {
  display: flex;
}
.tocontent li{
    display: flex;
}
.tocontent{
    display: flex;
    gap: 34%;
    font-size: 1.5em;
}
 .social-logo{
    width: 40px;
 }
 .about{
  padding: 24px 75px;
 } 
ul li {
  padding: 10px 0;
  font-weight: bold;
}

.about p{
  font-weight: bolder;
}
.skills {
  display: flex;
  gap: 120px;
  justify-content: center;
}